/* CSS Document 2025 for project Studi "EcoRide" designed by Mr Atif BUX */
:root {
    --color-primary-dark: #004B40;
    --color-primary-light: #32CD32;
    --color-secondary-yellow: #FFD700;
    --color-neutral-white: #FFFFFF;
    --color-neutral-gray: #333333;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    background-color: var(--color-primary-dark);
}

.main-footer {
    background-color: var(--color-neutral-gray);
}

h1 {
    font-weight: 800;
    color: var(--color-primary-dark);
}

h2 {
    font-weight: 600;
    color: var(--color-primary-dark);
}

p {
    font-weight: 400;
    color: var(--color-neutral-gray);
}

.main-footer p {
    color: var(--color-neutral-white);
}

a {
    text-decoration: none;
    color: var(--color-primary-dark);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-primary-light);
}

.nav-link {
    color: var(--color-neutral-white) !important;
}

.nav-link:hover {
    color: var(--color-secondary-yellow) !important;
}

.main-btn {
    background-color: var(--color-primary-light);
    color: var(--color-neutral-white);
    font-weight: 600;
    border: none;
    transition: background-color 0.3s ease;
}

.main-btn:hover {
    background-color: #248c24;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
}

.image-gallery img {
    border: 3px solid var(--color-primary-light);
    opacity: 1; /* visible by default */
}

/*  Fallback si JS est désactivé */
noscript .image-gallery img {
    opacity: 1 !important;
}
